body
{
    background-image: linear-gradient(#261F2A,#171317);
    background-repeat: no-repeat;
    color: #72B054;
    font-family: LogoFont;
    background-attachment: fixed;
    text-align: justify;
}
#logo
{
    max-width: 30%;
}
#logo2
{
    max-width: 60%;
}
@font-face {
    font-family: LogoFont;
    src: url(./Gotham-Rounded-Bold.ttf);
}
#menu
{
    display: flex;
    
}

.uiCENTERColor {
    color: #72B054;
}
.uiSecondaryColor {
    color: #B4DCA4;
}
.uiPremiumCENTERColor {
    color: #DDC84D;
}
.uiPremiumSecondaryColor {
    color: #FFF199;
}

.intro h1 {
    font-size: 50px;
}

.icon {
    width: 40px;
}

.CENTERButton {
    border: 2px solid #72B054;
    border-radius: 25px;
    background-color: #73b05473;
    font-size: 25px;
    color: #B4DCA4;
    padding: 10px 30px;
    text-decoration: none;
}
.CENTERButton:hover {
    background-color: #73b054b0;
    animation-duration: 300ms;
}

h3, h5 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #B4DCA4;
}

a {
    color: #B4DCA4;
    text-decoration: none;
}

.navitem {
    color: #B4DCA4;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
    border-top: 3px solid #73b05400;
}

.current-nav {
    border-top: 3px solid #72B054;
    color: #72B054;
}

.navitem:hover {
    background-color: #b4dca45b;
}

#menu a {
    text-align: right;
}

#csapatURL {
    color: #9cd684;
    text-decoration: none;
    font-size: 130%;
}
#csapatURL:hover {
    color: #88c967;
}

.socialsLogo {
    width: 25px;
}

#socials a {
    color: #9cd684;
}

#socials a:hover {
    color: #88c967;
}